<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{titulo}}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="#">Inicio</a>
              </li>
              <li class="breadcrumb-item active">{{titulo}}</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="box box-primary">
      <div class="box-body">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="calle">Equipo:</label>
                <select class="form-control select2" [(ngModel)]="servicio.EquipoId" style="width: 100%;">
                  <option  value="{{equipo.Id}}" *ngFor="let equipo of equipos">{{equipo.Descripcion}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2">
              Fecha: {{ fecha | date: 'dd/MM/y' }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="descripcion">Mecanico:</label>
                <input type="text" class="form-control" id="descripcion" [(ngModel)]="servicio.Mecanico" placeholder="Escriba la descripcion">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="pais">Observacion:</label>
                <textarea class="form-control" [(ngModel)]="servicio.Observacion"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p-dataTable [value]="servicio.Detalles" [editable]="true" emptyMessage= "No hay detalles" [responsive]="true" [rows]="15" [paginator]="true">
                <p-column field="Codigo" header = "Codigo" [style]="{'width':'10%'}"></p-column>
                <p-column field="Descripcion" header="Descripcion"  frozen="true" [editable] = "true" [style]="{'width':'25'}">
                  <ng-template let-col let-det="rowData" pTemplate="body">
                    <p class="text-justify">
                      {{ det.Descripcion }}
                    </p>
                  </ng-template>
                </p-column>
                <p-column field="Cantidad" header = "Cant." [editable] = "true" [style]="{'width':'10%'}"></p-column>
                <p-column field="Precio" header="Prec. Unit." [editable] = "true" [style]="{'width':'10%'}">
                  <ng-template let-col let-det="rowData" pTemplate="body">
                    <div class="text-center">
                      {{det.Precio | number : '1.2-2' }}
                    </div>
                  </ng-template>
                </p-column>
                <p-column field="Total" header="TotalNeto" [style]=" {'overflow':'visible', 'width':'10%' }">
                  <ng-template let-col let-det="rowData" pTemplate="body">
                    <div class="text-center">
                      {{ det.TotalNeto | number : '1.2-2' }}
                    </div>
                  </ng-template>
                </p-column>
                <p-column styleClass="col-button" [style]=" { 'width':'12%' }">
                  <ng-template pTemplate="header">
                      Accion
                  </ng-template>
                  <ng-template let-detalle="rowData" pTemplate="body">
                    <div class="text-center">
                      <button type="button" pButton (click)="editar(detalle)" icon="fa-pencil"></button>
                      <button type="button" pButton (click)="agregarComplemento(detalle)" icon="fa-plus"></button>
                      <button type="button" pButton (click)="eliminar(detalle)" icon="fa-trash-o"></button>
                    </div>
                  </ng-template>
                </p-column>
                <p-footer>
                  <div class="ui-helper-clearfix" style="width:100%">
                    <button type="button" pButton icon="fa-plus" style="float:left" (click)= "abrirConsultaProducto()" label="Agregar Producto">
                    </button>
                  </div>
                </p-footer>
              </p-dataTable>
            </div>
          </div>
          <div  class="row" >
            <div class="col-xs-8">
            </div>
            <div class="col-xs-4">
              <p class="lead">Totales de Factura</p>
              <div class="table-responsive">
                <table class="table">
                  <tr>
                      <th style="text-align: right;">Subtotal:</th>
                      <td style="text-align: right;">${{(servicio.Subtotal ? servicio.Subtotal : 0) | number : '1.2-2'}}</td>
                    </tr>
                  <tr>
                    <th style="text-align: right;">Iva (16 %)</th>
                    <td style="text-align: right;">${{(servicio.Iva ? servicio.Iva : 0) | number : '1.2-2'}}</td>
                  </tr>
                  <tr>
                    <th style="text-align: right;">Total:</th>
                    <td style="text-align: right;">${{(servicio.Total? servicio.Total : 0) | number : '1.2-2'}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <footer class="container-fluid text-center">
      <button type="button" pButton icon="fa-arrow-circle-o-left" style="float:center" routerLink="/admin/servicios"  class="ui-button-danger" label="Cancelar Servicio">
      </button>
      <button type="button" pButton icon="fa-check" style="float:center" (click)="guardar()" label="Guardar  Servicio">
      </button>
    </footer>
  </section>

  <p-dialog header="Consulta de Productos" [(visible)]="visibleConsultaProducto" modal="modal" width="800" [responsive]="true">
    <p-dataTable [value]="productos" [rows]="12" scrollable="true"
        emptyMessage="No registros" (onRowClick)="selectProducto($event)" scrollHeight="360px"
        [paginator]="true" [responsive]="true" selectionMode="single">
      <p-header>Productos</p-header>
      <p-column field="Codigo" header="Codigo Sat" [filter]="true" filterPlaceholder="Buscar" filterMatchMode="contains"></p-column>
      <p-column field="Codigo" header="Codigo " [filter]="true" filterPlaceholder="Buscar" filterMatchMode="contains"></p-column>
      <p-column field="Descripcion" header="Descripción" [filter]="true" filterPlaceholder="Buscar" filterMatchMode="contains"></p-column>
    </p-dataTable>
  </p-dialog>
  <!-- /.content -->
</div>
