<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Seleccionar turno y caja
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Turnos</li>
        <li class="active">Seleccionr</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-body">
              <div class="col-md-12 text-center">
                <i class="fa fa-lock fa-5x"></i>
                <div class="form-group">
                  <label for="turno-id">Turno:</label>
                  <input type="text" class="form-control tex-center input-lg" id="turno-id" [(ngModel)]="turnoSeleccionado.TurnoId" placeholder="Codigo barras" readonly>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-body">
              <div class="col-md-12 text-center">
                <i class="fa fa-calculator fa-5x"></i>
                <div class="form-group">
                  <label for="caja">Caja:</label>
                  <select id="caja" class="form-control select2 input-lg" [(ngModel)]="turnoSeleccionado.CajaId" style="width: 100%;" required>
                    <option value ="" selected="selected">*Seleccione la caja</option>
                    <option value="{{caja.Id}} "*ngFor="let caja of cajas">{{caja.Descripcion}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="i-am-centered">
        <div class="row">
          <div class="col-md-12">
            <div class="box box-primary">
              <div class="box-body">
                <div class="col-md-12 text-center">
                  <i class="fa fa-usd fa-5x"></i>
                  <div class="form-group">
                    <label for="fondo-caja">Fondo de Caja:</label>
                    <input type="number" class="form-control tex-center input-lg" id="fondo-caja" [(ngModel)]="turnoSeleccionado.FondoCaja" placeholder="Fondo de caja">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <footer class="container-fluid text-center">
        <button type="button" pButton icon="fa-arrow-circle-o-left" style="float:center" routerLink="/admin/turnos"  class="ui-button-danger" label="Cancelar">
        </button>
        <button type="button" pButton icon="fa-check" style="float:center" (click)="guardar()" label="Abrir Caja">
        </button>
      </footer>
    </section>
    <!-- /.content -->
  </div>
