<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Equipo
      <small>Nuevo</small>
    </h1>
    <ol class="breadcrumb">
      <li><a><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li>Equipos</li>
      <li class="active">Nuevo</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="box box-primary">
      <div class="box-body">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="descripcion">Descripcion:</label>
                <input type="text" class="form-control" id="descripcion" [(ngModel)]="equipo.Descripcion" placeholder="Escriba la descripcion">
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="calle">Marca:</label>
                <input type="text" class="form-control" id="calle" [(ngModel)]="equipo.Marca" placeholder="Escriba la calle">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="rfc">Modelo:</label>
                <input type="text" class="form-control" id="rfc" [(ngModel)]="equipo.Modelo" placeholder="Escriba el modelo">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="pais">Cliente:</label>
                <select id="pais" class="form-control select2" [(ngModel)]="equipo.ClienteId"  style="width: 100%;">
                  <option value ="" selected="selected">*Seleccione el cliente</option>
                  <option value="{{cliente.Id}}" *ngFor="let cliente of clientes">{{cliente.Descripcion}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="c-p">Año:</label>
                <input type="text" class="form-control" id="c-p" [(ngModel)]="equipo.Anio" placeholder="Escriba el codigo postal">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="pais">Observacion:</label>
                <textarea class="form-control" [(ngModel)]="equipo.Observacion"></textarea>
              </div>
            </div>
          </div>
          <div *ngIf = "id" class="row">
            <div class="col-md-12">
              <label for="pais">Servicios:</label>
              <app-servicio-tabla [equipoId]="id"></app-servicio-tabla>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <footer class="container-fluid text-center">
      <button type="button" pButton icon="fa-arrow-circle-o-left" style="float:center" routerLink="/admin/equipos"  class="ui-button-danger" label="Cancelar Equipo">
      </button>
      <button type="button" pButton icon="fa-check" style="float:center" (click)="guardar()" label="Guardar  Equipo">
      </button>
    </footer>
  </section>
  <!-- /.content -->
</div>
