<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Servicios</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="#">Inicio</a>
              </li>
              <li class="breadcrumb-item active">Servicios</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="container-fluid">
        <div class="row">
    <app-admin-servicio-tabla [equipoId]="id"></app-admin-servicio-tabla>
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

  <!--END  SECTION SHOW MODAL DELETE DEFECT -->
