<p-dialog header="Modificacion del producto" [(visible)]="visible" modal="modal" width="1200" [responsive]="true">
    <div *ngIf="producto" class="box box-primary">
      <div class="box-body">
        <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="codigo">Codigo:</label>
                  <input type="text" class="form-control" id="codigo" [(ngModel)]="producto.Codigo" placeholder="Escriba el codigo producto">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="descripcion">Descripción:</label>
                  <input type="text" class="form-control" id="descripcion" [(ngModel)]="producto.Descripcion" placeholder="Escriba la descripción">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="precio">Precio:</label>
                  <input type="number" class="form-control" step="any" id="precio" [(ngModel)]="producto.Precio" placeholder="Escriba el precio">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="tasa-iva">Iva:</label>
                  <select class="form-control" [(ngModel)]="producto.TasaIva" id="tasa-iva" required>
                    <option value ="" selected="selected">*Seleccione una tasa Iva</option>
                    <option value="0.16">16%</option>
                    <option value="0">0%</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="tasa-ieps">Ieps:</label>
                  <select  id="tasa-ieps" class="form-control select2" [(ngModel)]="producto.TasaIeps"  style="width: 100%;" required>
                    <option  value ="0" selected="selected">*Seleccione la Ieps</option>
                    <option  value="0.03">3%</option>
                    <option  value="0.045">4.5%</option>
                    <option  value="0.08">8%</option>
                    <option  value="0.53">53%</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="descuento">Descuento:</label>
                  <input type="number" class="form-control" id="descuento" [(ngModel)]="producto.Descuento" min=0 max=100 placeholder="Escriba el precio">
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label for="unidad-id">Unidad:</label><br/>
                  <p-autoComplete [(ngModel)]="producto.CatSatUnidad" [minLength]="3" emptyMessage="No hay Registros" id="unidad-id" [size]="67" [suggestions]="filtroResultados" (completeMethod)="buscarUnidad($event)" field="Descripcion"></p-autoComplete>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="cuenta-predial">Cuenta Predial:</label>
                  <input type="text" class="form-control" id="cuenta-predial" [(ngModel)]="producto.CuentaPredial" placeholder="Escriba la Cuenta Predial">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="tasa-retiva">Retencion de Iva:</label>
                  <select id="tasa-retiva" class="form-control select2" [(ngModel)]="producto.TasaRetIva"  style="width: 100%;" required>
                    <option  value ="0" selected="selected">*Seleccione la Retencion</option>
                    <option  value="0.04">4%</option>
                    <option  value="0.106666">10.6667%</option>
                    <option  value="0.16">16%</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="tasa-retisr">Retencion de Isr:</label>
                  <select id="tasa-retisr" class="form-control select2" [(ngModel)]="producto.TasaRetIsr"  style="width: 100%;" required>
                    <option  value ="0" selected="selected">*Seleccione la Retencion</option>
                    <option  value="0.1">10%</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <h3>Informacion para el lote y fecha caducidad </h3>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="lote">Lote:</label>
                  <input type="text" class="form-control" id="lote" [(ngModel)]="producto.Lote" placeholder="Escriba el lote ">
                </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                    <label for="fecha-caducidad">Fecha Caducidad:</label>
                    <input type="text" class="form-control" id="fecha-caducidad" [(ngModel)]="producto.FechaCaducidad" placeholder="Escriba la fecha caducidad">
                  </div>
              </div>
            </div>
        </div>
      </div>
      <footer class="container-fluid text-center">
        <button type="button" pButton icon="fa-arrow-circle-o-left" style="float:center" (click)="cancelar()"  class="ui-button-danger" label="Cancelar Producto">
        </button>
        <button type="button" pButton icon="fa-check" style="float:center" (click)="guardarProducto()" label="Guardar Producto">
        </button>
      </footer>
    </div>
  </p-dialog>
