    <!-- Small boxes (Stat box) -->
    <p-dataTable #dtServicios [value]="servicios" [loading]="cargando" emptyMessage= "No hay servicios aun" scrollable="true" scrollHeight="300px" [responsive]="true" [rows]="8" [paginator]="true" >
      <p-header>
        <div class="ui-helper-clearfix">
          <button type="button" pButton icon="fa-file-o" iconPos="left" label="Exportar" (click)="dtServicios.exportCSV()" style="float:left"></button>
        </div>
      </p-header>
      <p-column field="Id" header = "Codigo"></p-column>
      <p-column field="Equipo.Descripcion" header="Equipo"  [filter]="true" filterPlaceholder="Buscar" filterMatchMode="contains"></p-column>
      <p-column field="Mecanico" header="Mecanico"  [filter]="true" filterPlaceholder="Buscar" filterMatchMode="contains"></p-column>
      <p-column field="Total" header="Total"  [filter]="true" filterPlaceholder="Buscar" filterMatchMode="contains"></p-column>
      <p-column field="FechaCreacion" header="Fecha" [style]=" {'overflow':'visible' }">
          <ng-template let-col let-servicio="rowData" pTemplate="body">
            <div class="text-center">
                {{ servicio.FechaCreacion | date: 'dd/MM/y' }}
            </div>
          </ng-template>
      </p-column>
      <p-column field="EstaFacturado" header="Facturado" [filter]="true" filterMatchMode="equals">
          <ng-template pTemplate="filter" let-col>
            <p-dropdown [options]="opciones" [style]="{'width':'100%'}" appendTo="body" (onChange)="dtServicios.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
          </ng-template>
          <ng-template let-col let-servicio="rowData" pTemplate="body">
            <div class="text-center">
              {{servicio.EstaFacturado == true ? 'Si' : 'No'}}
            </div>
          </ng-template>
        </p-column>
      <p-column styleClass="col-button">
        <ng-template pTemplate="header">
          <button type="button" pButton icon="fa-refresh" (click)="get()"></button>
        </ng-template>
        <ng-template let-servicio="rowData" pTemplate="body">
          <div class="text-center">
            <button type="button" pButton (click)="irDetalles(servicio)" icon="fa-search"></button>
          </div>
        </ng-template>
      </p-column>
    </p-dataTable>
