<p-growl [(value)]="msgs"></p-growl>
<div class="login-box">
	<!-- /.login-logo -->
	<p-panel #pnl [style]="{'margin-top':'20px', 'width': '400px'}">

		<div class="login-box-body" style="border-radius: 7%;">
			<p class="login-box-msg" style="color: #459e00; font-family: 'Copperplate Gothic Bold'; font-weight: bold; font-size: 24pt;">FACTURA SIWEB</p>
		<!-- <p class="login-box-msg">Iniciar sesion</p> -->
				<div class="form-group has-feedback">
					<input type="text" class="form-control" [(ngModel)]="usuario.NombreUsuario" placeholder="Usuario"  required [readOnly]="isBlocked">
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" [(ngModel)]="usuario.Contra" class="form-control" (keypress)="keydown($event.keyCode)" placeholder="Contraseña" required [readOnly]="isBlocked">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-12" *ngIf="sucursales">
						<div class="form-group">
              <label>Sucursal:</label>
              <select class="form-control select2" [(ngModel)]="sucursalId" style="width: 100%;" >
                <option  value ="" selected="selected">*Seleccione la  sucursal</option>
                <option  value="{{suc.Id}}" *ngFor="let suc of sucursales">{{suc.Id}}--{{suc.Descripcion}}</option>
              </select>
            </div>
	    		</div>
	    <!-- /.col -->
				    <div class="col-xs-6">
				    	<button (click)="login()" class="btn btn-primary btn-block btn-flat">{{tituloBoton}}</button>
				    </div>
	    <!-- /.col -->
				</div>
		</div>
	</p-panel>
</div>
<!-- /.social-auth-links -->


<!-- /.login-box-body -->

