<header class="main-header">
  <!-- Logo -->
  <a class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">SIWEB</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Fatura</b>SIWEB</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->

        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a class="dropdown-toggle" data-toggle="dropdown">
              <img src="{{_service.getUrlAbsoluta() + this.user?.Avatar}}" class="user-image" alt="User Image">
              <span class="hidden-xs">{{user?.NombreUsuario}}</span>
            </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="{{_service.getUrlAbsoluta() + this.user?.Avatar}}" class="img-circle" alt="User Image">

              <p>
                {{user?.NombreCompleto}}
                <small>Fecha Alta:{{user?.FechaCreacion |  date}}</small>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a routerLink="admin/sucursales">Sucursales</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a routerLink="admin/facturas">Facturas</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a routerLink="admin/clientes">Clientes</a>
                </div>
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a routerLink="/admin/perfil" class="btn btn-default btn-flat">Perfil</a>
              </div>
              <div class="pull-right">
                <a (click)="cerrarSession()"class="btn btn-default btn-flat">Cerrar sesion</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
