<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h4>
        Folio:<button type="button" pButton label="{{puntoVenta?.Folio}}"></button>
        Vendedor: {{user.NombreCompleto}} <button type="button" pButton (click)="cambiarUsuario(user)" label="Cambiar" icon="fa-user-plus"></button>
        Cliente: <span *ngIf="!cliente">Publico en general</span><span *ngIf="cliente">{{cliente.Descripcion}}</span>  <button type="button" pButton (click)="cambiarCliente()" label="Cambiar" icon="fa-user-plus"></button>
        Tipo Venta: Credito <button type="button" pButton label="Cambiar" icon="fa-usd-plus"></button>
      <!-- <button type="button" pButton (click)="cambiarUsuario(suc)" label="Turno: 1" icon="fa-user-plus" class="ui-button-info"></button>
      <button type="button" pButton (click)="cambiarUsuario(suc)" label="Caja: 1" icon="fa-user-plus" class="ui-button-info"></button> -->
      <small></small>
    </h4>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="col-sm-8" style="height: 400px;">
      <div class="row">
        <div class="col-md-9">
          <div class="form-group">
            <input type="text" class="form-control input-lg" id="codigo" [(ngModel)]="codigo" (keypress)=eventHandler($event.keyCode) placeholder="Codigo barras">
          </div>
        </div>
        <div class="col-md-3">
         <h4> <button type="button" pButton (click)="buscarProducto()" label="Buscar" icon="fa fa-search"></button></h4>
        </div>
      </div>
      <p-dataTable #dt [value]="puntoVenta.Detalles" emptyMessage= "No hay productos" scrollable="true" [editable] = "true" scrollHeight="270px" [responsive]="true" [rows]="8" #dt>
        <p-column field="Codigo" header = "Codigo" [style]="{'width':'15%'}"></p-column>
        <p-column field="Descripcion" header="Descripcion" [style]="{'width':'60%'}"></p-column>
        <p-column field="Cantidad" header="Cantidad"  [editable] = "true" [style]="{'width':'10%'}"></p-column>
        <p-column field="Precio" header="Precio" [style]=" {'overflow':'visible', 'width':'15%' }">
          <ng-template let-col let-det="rowData" pTemplate="body">
            <div class="text-center">
              ${{ det.Precio | number : '1.2-2' }}
            </div>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
    <div class="col-sm-4 sidenav" style="height: 400px;">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th style="width:50%; text-align: right; font-size:20pt;">SUBT. 0%:</th>
            <td style="text-align: right; font-size:22pt;">${{(puntoVenta?.SubtotalE ? puntoVenta?.SubtotalE : 0) | number : '1.2-2' }}</td>
          </tr>
          <tr>
            <th style="width:50%; text-align: right; font-size:20pt;">SUBT. 16%:</th>
            <td style="text-align: right;  font-size:20pt;">${{ (puntoVenta?.SubtotalG ? puntoVenta.SubtotalG : 0) | number : '1.2-2'}}</td>
          </tr>
          <tr>
            <th style="width:50%; text-align: right; font-size:20pt;">IMPORTE:</th>
            <td style="text-align: right;  font-size:20pt;">${{ (puntoVenta?.Importe ? puntoVenta.Importe : 0) | number : '1.2-2'}}</td>
          </tr>
          <tr>
            <th style="text-align: right; font-size:20pt;">IEPS</th>
            <td style="text-align: right; font-size:20pt;">${{(puntoVenta?.Ieps ? puntoVenta.Ieps : 0) | number : '1.2-2'}}</td>
          </tr>
          <tr>
            <th style="text-align: right; font-size:20pt;">IVA (16 %)</th>
            <td style="text-align: right; font-size:20pt;">${{(puntoVenta?.Iva ? puntoVenta.Iva : 0) | number : '1.2-2'}}</td>
          </tr>
          <tr>
            <th style="text-align: right;  font-size:20pt;">TOTAL:</th>
            <td style="text-align: right; font-size:20pt; ">${{(puntoVenta?.Total? puntoVenta.Total : 0) | number : '1.2-2'}}</td>
          </tr>
        </table>
      </div>
    </div>
    <!-- Small boxes (Stat box) -->
  </section>
  <footer class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-xs-6" (click)="cobrar()">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>{{puntoVenta?.Total | number : '1.2-2'}}</h3>

            <p>{{puntoVenta?.Detalles.length}} Articulos</p>
          </div>
          <div class="icon">
            <i class="fa fa-shopping-cart"></i>
          </div>
          <a class="small-box-footer">
            COBRAR <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>53<sup style="font-size: 20px">%</sup></h3>

            <p>RETIRAR EFECTIVO</p>
          </div>
          <div class="icon">
            <i class="fa fa-money"></i>
          </div>
          <a href="#" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>Caja</h3>

            <p>{{caja?.Descripcion}}</p>
          </div>
          <div class="icon">
            <i class="fa fa-lock"></i>
          </div>
          <a href="#" class="small-box-footer">
            Cerrar Turno <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>65</h3>

            <p>VENTAS DEL TURNO</p>
          </div>
          <div class="icon">
            <i class="fa fa-usd"></i>
          </div>
          <a class="small-box-footer">
            ir a Ventas <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
    </div>
  </footer>
  <!-- /.content -->
</div>
<app-consulta-producto [(visible)]="consultaProducto" [(productos)] ="productos" (emitter)="seleccionarProducto($event)"></app-consulta-producto>
<app-consulta-cliente [(visible)]="consultaCliente" (emitter)="seleccionarCliente($event)"></app-consulta-cliente>
<app-cobrar-nota [(visible)]="cobrarVenta" [(puntoVenta)]="puntoVenta" (emitter)="guardar($event)"></app-cobrar-nota>
