<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Tipos de Movimientos
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Tipos de Movimientos</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <p-table [columns]="cols" [value]="lineas" emptyMessage= "No hay Lineas" [scrollable]="true" scrollHeight="{{height}}" [responsive]="true" [rows]="20" [paginator]="true" #dt>
        <ng-template pTemplate="caption">
          <div style="text-align: right">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Busqueda" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
          <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-file-o" iconPos="left" label="Exportar" (click)="dt.exportCSV()" style="float:left"></button>
            <button type="button" pButton icon="fa-refresh" iconPos="left" label="Refrescar" (click)="get()" style="float:left"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">{{col.header}}</th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-renglon let-columns="columns">
          <tr [pSelectableRow]="renglon">
            <td *ngFor="let col of columns">
              {{_service.resolveFieldData(renglon, col.field)}}
            </td>
            <td>
              <div class="text-center">
                <button type="button" pButton (click)="editar(renglon)" icon="fa-pencil"></button>
                <button type="button" pButton (click)="mostrarEliminar(renglon)" icon="fa-trash-o"></button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary" let-rowData>
          <div style="text-align:left">
            <button type="button" pButton icon="fa-plus" routerLink="nuevo" routerLinkActive="active" label="Nuevo Tipo de Movimiento"></button>
          </div>
        </ng-template>
    </p-table>
  </section>
  <!-- /.content -->
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal-deactive-delete" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title text-success">Eliminar Linea</h2>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de eliminar el registro?</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" (click)="eliminar()" data-dismiss="modal">Aceptar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
  </div>
</div>
