<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Servicios
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Servicios</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <app-cliente-servicio-tabla [equipoId]="id"></app-cliente-servicio-tabla>
  </section>
  <!-- /.content -->
</div>

  <!--END  SECTION SHOW MODAL DELETE DEFECT -->
